<!-- <footer class="footer"> -->
  <!-- <div class="container">
    <a class="link-logo footer-link-logo" href="./index.html"
      >LloydJefferson.</a
    >
  </div> -->

  
  <footer class="section section-footer">
   <div class="container">
    <div class="footer-container-desktop-text">

    <p class ="footer-logo">Lloyd<span class ="footer-log-green">Jefferson.</span> </p>
    <ul class="footer-list-socials">
        <li class ="footer-item-social"><a href="">Instagram</a></li>
        <li class ="footer-item-social"><a href="">Facebook</a></li>
        <li class ="footer-item-social"><a href="">Linkedin</a></li>
        <li  class ="footer-item-social"><a href="">GitHub</a></li>
   
    </ul>
  </div>
    <p class="footer-text-cpoyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>

</footer>
