<section class="section section-my-projects" id="projects">
  <div class="container">
    <h2 class="title my-projects-title">My <span>projects</span></h2>
    <ul class="my-projects-list">
      <li class="my-projects-item">
        <p class="my-projects-text">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-name">Wallet webservice</h3>
        <a
          class="my-projects-btn-visit"
          href="https://note-m.github.io/Web-project/"
          target="_blank"
          >VISIT</a
        >
      </li>
      <li class="my-projects-item">
        <p class="my-projects-text">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-name">Green harvest webservice</h3>
        <a
          class="my-projects-btn-visit"
          href="https://note-m.github.io/Web-project/"
          target="_blank"
          >VISIT</a
        >
      </li>
      <li class="my-projects-item">
        <p class="my-projects-text">React, JavaScript, Node JS, Git</p>
        <h3 class="my-projects-name">English Exellence website VISIT</h3>
        <a
          class="my-projects-btn-visit"
          href="https://note-m.github.io/Web-project/"
          target="_blank"
          >VISIT</a
        >
      </li>
    </ul>
    <button class="my-projects-btn-load-more current" type="button">
      LOAD MORE
    </button>
  </div>
</section>
