<section class="section section-reviews">
  <div class="container">
    <h2 class="title reviews-title">Reviews</h2>
    <ul class="reviews-list swiper-wrapper">
      <li class="user-review">
        <p class="text-review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
        <div class="icon-photo-name">
          <img
            src="/src/img/reviews/"
            alt="natalia"
            width="40"
            height="40"
            class="avatar-icon"
          />
          <p class="user-name-review">Natalia Shevchenko</p>
        </div>
      </li>
      <li class="user-review is-hidden">
        <p class="text-review">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
        <div class="icon-photo-name">
          <img
            src="/src/img/reviews/"
            alt="dmytro"
            width="40"
            height="40"
            class="avatar-icon"
          />
          <p class="user-name-review">Dmytro Nazarenko</p>
        </div>
      </li>
    </ul>
    <div class="swiper">
      <div class="swiper-button-prev">
        <a href="" class="swipe-btn">
          <svg class="icon-swipe" width="24" height="24">
            <use href="/src/img/icons/icomoon/"></use>
          </svg>
        </a>
      </div>
      <div class="swiper-button-next">
        <a href="" class="swipe-btn">
          <svg class="icon-swipe" width="24" height="24">
            <use href="/src/img/icons/icomoon/"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
