<section class="section section-tech-skills">
  <div>
    <h2 class="title tech-skills-title">Tech skills</h2>
    <div class="marquee">
      <div class="marquee__inner">
        <ul class="marquee__line">
          <li class="li-item">
            HTML/CSS
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js
            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React Native

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript

            <svg class="tech-skills-green-square-icon" width="8" height="8">
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
        </ul>
        <ul class="marquee__line">
          <li class="li-item">
            HTML/CSS<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React Native<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript<svg
              class="tech-skills-green-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-green-square-icon"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="marquee marqueet">
      <div class="marquee__inner">
        <ul class="marquee__line">
          <li class="li-item">
            HTML/CSS<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React Native<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
        </ul>
        <ul class="marquee__line">
          <li class="li-item">
            HTML/CSS<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            JavaScript<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Node.js<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            React Native<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
          <li class="li-item">
            Typescript<svg
              class="tech-skills-black-square-icon"
              width="8"
              height="8"
            >
              <use href="../img/icons.svg#tech-skills-black-square-icon"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
