<section class="section section-tech-skills">
  <div class="container">
    <h2 class="title tech-skills-title">Tech skills</h2>
    <div class="marquee">
      <div class="marquee__inner">
        <ul class="marquee__line">
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
        </ul>
        <ul class="marquee__line">
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
        </ul>
      </div>
    </div>
    <div class="marquee marqueet">
      <div class="marquee__inner">
        <ul class="marquee__line">
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
        </ul>
        <ul class="marquee__line">
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>React Native</li>
          <li>Typescript</li>
        </ul>
      </div>
    </div>
  </div>
</section>
