.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}


.about {
    color: #292929;
    
}

.me {
    color: #00B068;
    
}



.bio-section {
    padding: 20px;
    text-align: center;
}

.bio-section img {
    width: 100%;
    max-width: 320px;
    height: 347px;
    border-radius: 16px;
}

.bio {
    text-align: left;
}

.bio-title {
    margin-top: 20px;
    font-size: 18px;
    display: inline-block;
}

.bio-text {

    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 24px;
}
.bio-title+.bio-text {
    margin-top: 32px;
    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .bio-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        }

 