/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./FAQ.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Poppins', 'Impact', 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --poppins: 'Poppins', sans-serif;
  --impact: 'Impact', sans-serif;
  --montserrat: 'Montserrat', sans-serif;

  --main-green-color: #00b068;
  --main-black-color: #292929;
  --light-green-color: #bcdfd1; */
}
